{% extends "AvroCsvBundle::layout.html.twig" %}

{% trans_default_domain 'AvroCsvBundle' %}

{% block avro_csv_title %}{{ 'import.title.mapping'|trans }}{% endblock avro_csv_title %}

{% block avro_csv_content %}
    <form action="{{ path('avro_csv_import_process', {'alias': alias}) }}" method="post" {{ form_enctype(form) }}>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>{{ 'import.mapping.header'|trans }}</th>
                        <th>{{ 'import.mapping.field'|trans }}</th>
                        {% for row in rows %}
                            <th>{{ 'import.mapping.sample'|trans }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set fieldChoice = form_widget(form.fields.vars['prototype']) %}
                    {% for header in headers %}
                        {% set index = loop.index0 %}
                        <tr>
                            <td>{{ header }}</td>
                            <td>{{ fieldChoice | replace({'__name__': index}) | raw }}</td>
                            {% for row in rows %}
                                <td>{{ row[index] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="display: none;">
                {{ form_row(form.delimiter) }}
                {{ form_row(form.filename) }}
            </div>
            {{ form_widget(form._token) }}
        </div>

        <div>
            <input type="submit" value="{{ 'import.button.process_import'|trans }}" />
            <a href="{{ path('avro_csv_import_upload', {'alias': alias}) }}">{{ 'import.button.back'|trans }}</a>
        </div>
    </form>
{% endblock avro_csv_content %}